<!-- ********** END SECTION ********** -->
<div class="container">
    <div class="row mtb">
        <div class="col-md-6 col-md-offset-3 centered">
            <hr class="aligncenter">
            <p><a href="{{ path('tos_and_privacy_policy') }}">TOS &amp; Privacy Policy</a> | Lookmarkd | Copyright 2016</p>
        </div>
    </div><!--/row -->
</div><!--/container -->