<div id="cta">
    <div class="container">
        <div class="row centered">
            <h2>Brands On Our Platform</h2>
            <hr class="aligncenter">
            <br />
            <img src="{{ asset('img/accessorizelogopink.png') }}" style="margin-right: 10px;" />
            <img src="{{ asset('img/beinghuman_logo.gif') }}" style="margin-right: 10px;" />
            <img src="{{ asset('img/wacoal_logo.gif') }}" style="margin-right: 10px;" />
        </div><!--/row -->
    </div><!--/container -->
</div><!--/CTA -->