{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserPreference:displayUserPreferences{% endblock %}

{% block body %}
<h1>Welcome to the UserPreference:displayUserPreferences page</h1>
{% endblock %}
