{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserPreference:setUserPreference{% endblock %}

{% block body %}
<h1>Welcome to the UserPreference:setUserPreference page</h1>
{% endblock %}
