/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 7
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


#front-base p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* BUTTONS */
.btn-green {
	background: #1abc9c;
	color: white;
	border-radius: 2px;
}

.btn-green:hover {
	background: #16a085;
	color: white;
}

/* HORIZONTAL LINE */
hr {
	border: 1px solid #1abc9c;
	width: 120px;
}

/* H4 Global Modification */

h4 {
	font-weight: 700;
}

/* Color Theme */
.green {
	color: #1abc9c;
}

/* Size Helper */

.big {
	font-size: 60px;
}

.text16 {
	font-size: 16px;
}

.text28 {
	font-size: 28px;
}

.text28 i {
	padding: 8px;
}

/* HEADER SECTION */
#h {
	padding-top: 15px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h3.logo {
	font-weight: 900;
	text-align: center;
	color: white;
	border: 3px solid white;
	width: 10em;
	padding: 12px;
	border-bottom: dashed;
}

#h h1 {
	color: white;
	font-size: 70px;
}


#h .continue {
	font-size: 30px;
	color: #1abc9c;
	margin-top: 80px;
}

/* CALL TO ACTION */
#cta {
	background: #2f2f2f;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

#cta h2 {
	text-align: center;
}

/* GREY SECTION */

#g {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f7f8fa;
}


#testimonial {
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 450px;
	background: #2f2f2f;
	color: white;
}

#testimonial p {
	font-size: 16px;
	color: #ccc;
}

#testimonial hr {
	border: solid 1px #ccc;
	width: 80px;
}


/* GENERAL CONF */

i {
	margin-right: 10px;
}

input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

/*Overflow Hidden*/

.of {
	overflow: hidden;
}

.nav-pills > li > a, .nav-pills > li > a:visited {
  color: #fff;
  font-weight: 600;
}

.nav-pills > li > a:hover, .nav-pills > li.open > a {
  color: #666;
}

.white {
  color: #ffffff;
}

.circle-border {
  border-radius: 50%;
}

.thin-border {
  border: 2px solid;
}

.green-background {
  background-color:#1abc9c
}

.dark-background {
  background-color: #2f2f2f;
}

.dark-background.translucent {
  background-color: rgba(47, 47, 47, 0.6);
}

.comfortable {
  padding: 0.5em;
}

.green-border {
  border-color: #1abc9c;
}

.dark-border {
  border-color: #2f2f2f;
}

#front-base div.steps p, #front-base div.steps h2 {
   color: #ffffff;
   margin-top: 2em;
}

#front-base div.steps i {
  margin-right: 0;
}

.underline {
  text-decoration: none;
  border-bottom: 1px solid dotted;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #555;
}

#scrollUp i {
  margin-right: 0;
}
