p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one {
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

span.round-tabs.six {
    color: #000;
    border: 2px solid #000;
}

li.active span.round-tabs.six {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #000;
}

.nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}

.nav-tabs > li {
    width: 16.6%;
}

.nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px 30px;
    border-radius: 100%;
    padding: 0;
}

.nav-tabs > li a:hover {
    background: transparent;
}

.tab-pane {
    position: relative;
    padding-top: 50px;
}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

#myTab.nav-tabs > li > a, #myTab.nav-tabs > li.active > a {
    background-color: transparent;
    margin-right: 0;
    border: 0;
}

#myTab {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

i.glyphicon {margin-right:0;}

input#follower_count_filter {
    font-size: smaller;
    background: transparent;
    border: 0;
    border-bottom: dashed 2px #0d6aad;
    padding: 0;
    margin-left: 1em;
}

div#DataTables_Table_0_wrapper, #DataTables_Table_0_wrapper > div:nth-child(1),
#DataTables_Table_0_wrapper > div:nth-child(2), #DataTables_Table_0_wrapper > div:nth-child(3)
{
    min-width: 95%;
}

#DataTables_Table_0_info > span {
    display: none;
}

@media ( max-width: 585px ) {

    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head {
        font-size: 20px;
    }

    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }

    label {
        font-size: larger;
    }

    #influencers > div > div > div > div.panel-body > div > div {
        background-size: cover;
        min-height: 300px;
        height: 300px;
        color: #FFFFFF;
    }

    #influencers > div > div > div > div.panel-body > div > div > div.panel-body > div > div > p {
        color: #FFFFFF;
    }

}